*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: aliceblue;
    height: 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    font-size: 35px;
    padding: 10px;
}

img{
    height: 40px;
    width: 45px;
    background-size: cover;
    border-radius: 50px;
    margin-left: 30px;
    padding-right: 10px;
}
.container{
    background-color: rgb(246, 34, 246);
    height: 224px;
    width: 223px;
    display: grid
;    
    grid-template-columns: repeat(3, 10vh);
    grid-template-rows: repeat(3, 10vh);
    font-family: 'Roboto', sans-serif;
    position: fixed;
    margin-top: 105px;
    margin-left: 547px;
}


.gameContainer{
    justify-content: center;
    
    
    
}
.box{
    border:2px solid black;
    font-size: 8vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: aqua;
}
.gameInfo{
    margin-top: 33px;
    margin-left: 360px;
    background-color: rgb(247, 169, 13);
    color: black;
    border-radius: 15px;
    height: 60px;
    width: 600px;
}
.h1{
    margin-left: 100px;
    margin-top: 10px;
    font: bold;
}
.imagbox{
    
    
    width: 0;
    transition: width 1s ease-in-out;
    margin-left:610px ;
     
}
.reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(255, 242, 0);
    border-radius: 6px;
    cursor: pointer;
}
